<div class="location">
  <h3>&gt; <label> 开放时间 </label></h3>
</div>
<form class="form-horizontal">

  <div class="form-group MT">
    <label class="col-sm-2 control-label">开放时间</label>
    <div class="col-sm-4">
      <input type="number" readonly="readonly" required="" value="<%= openHours %>"  class="form-control">
    </div>
    <label class="col-sm-1 control-label">小时/周</label>
  </div>
<div class="mLR"> 
  <label >数据来源于</label>
  <p>1.日常数据</p>
  <p>2.活动承载</p>
  <p>3.体育服务</p>
</div>
</form>
