
<div class="text-center loginscreen animated fadeInDown">
  <% if( submitType && submitType == 'ajax'){ %>
    <form class="form-horizontal" id="stadiumViewForm" onsubmit="return stadiumUpdate()">
  <% }else{ %>
  <form class="form-horizontal" id="stadiumViewForm" method="post" action="/stadiumUpdate">
    <% } %>
    <div class="form-group">
      <input type="hidden" name="stadium[id]" value="<%= stadium.id %>">
      <label  class="col-sm-3 control-label">审核状态</label>
      <div class="col-sm-6">
        <% if(stadium.state == 1){ %>
        <label class="control-label">正在审核</label>
        <% } else if(stadium.state == 2){ %>
        <label class="control-label">通过审核</label>
        <% }else{%>
        <label class="control-label">审核失败</label>
        <% } %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">场馆名称</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" required name="stadium[name]" value="<%= stadium.name %>" placeholder="场馆名称">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">所在城市</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" required value="<%= stadium.city %>" name="stadium[city]"  placeholder="所在城市">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">建成时间</label>
      <div class="col-sm-6">
        <input type="text" class="form-control myDate" required value="<%= stadium.buildDate %>" name="stadium[buildDate]"  placeholder="">
      </div>
      <label class="col-sm-1 control-label">年</label>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">投资金额</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" required value="<%= stadium.investmentAmount %>" name="stadium[investmentAmount]"  placeholder="投资金额">
      </div>
      <label class="col-sm-1 control-label">万</label>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">场馆级别</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" required value="<%= stadium.level %>"  name="stadium[level]"  placeholder="甲级，乙级，丙级">
      </div>
      <label class="col-sm-1 control-label"></label>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">座位数</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" required value="<%= stadium.seats %>" name="stadium[seats]"  placeholder="座位数">
      </div>
      <label class="col-sm-1 control-label">个</label>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label">园区用地面积</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" value="<%= stadium.parkArea %>" name="stadium[parkArea]"  placeholder="平方米">
      </div>
      <label class="col-sm-1 control-label">㎡</label>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">体育场地面积</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" value="<%= stadium.stadiumArea %>" name="stadium[stadiumArea]"  placeholder="平方米">
      </div>
      <label class="col-sm-1 control-label">㎡</label>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label">包含运动类型</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" required value="<%= stadium.sports %>" name="stadium[sports]"  placeholder="包含的运动类型">
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label">场馆地址</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="<%= stadium.address %>" name="stadium[address]"  placeholder="场馆地址">
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label class="col-sm-4 control-label">场馆坐标</label>-->
      <!--<div class="col-sm-7">-->
        <!--<input type="text" class="form-control" value="<%= stadium.coordinate %>"  name="stadium_[coordinate]">-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-group">
      <label class="col-sm-3 control-label">场馆图片</label>
      <div class="col-sm-6">
        <!--<input type="text" class="form-control" value="<%= stadium.picture %>"  name="stadium_[picture]">-->
        <div id="test" class="pull-left clearfix webuploader-container">
          <div class="webuploader-pick"></div>
        </div>
        <% if (stadium.picture && stadium.pictureCount > 0 ) { %>
        <div class="parentFileBox">
         <ul class="fileBoxUl">
          <% stadium.picture.forEach(function(name){ %>
           <li>
             <div class="viewThumb">
                <img src="<%= "uploadImage/"+stadium.id+"/"+name %>" alt="">
             </div>
             <div class="diyFileName sdBtn"  name="<%= name %>">删除</div>
           </li>
          <% }) %>
         </ul>
        </div>
        <% } %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">场馆电话</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="<%= stadium.landline %>"  name="stadium[landline]"  placeholder="场馆电话">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">联系人名称</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="<%= stadium.contants %>"  name="stadium[contants]"  placeholder="联系人">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">联系人手机</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="<%= stadium.contantsPhone %>"  name="stadium[contantsPhone]"  placeholder="联系人电话">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" id="gameAddBtn" class="btn btn-default">修改</button>
      </div>
    </div>


  </form>
</div>

<script>

  var pictureCount = '<%= stadium.pictureCount %>';
  $('#test').diyUpload({
    url:'/stadiumUpdatePic',
    model:"stadium", //传递模型，用于将上传文件，保存在表单中
    imgCount:4 - pictureCount,  //假设上传图片最大上限为4张
    success:function( data ) {
      console.info( data );
    },
    error:function( err ) {
      console.info( err );
    }

  });

  $('.myDate').datetimepicker({
    format: 'yyyy',
    language:  'zh-CN',
    minView: 4,
    startView: 4,
    maxView: 4,
    autoclose:true
  });
  $('.myDate').datetimepicker('update', new Date('<%= stadium.buildDate %>'));

</script>
<script>

  $(".fileBoxUl .sdBtn").click(function(){
     var $this = $(this);
      var tempImg =  $(this).attr("name");
    window.util.postAjax("/stadiumDeletePic/"+tempImg,'',function(data){
      if(data.result){
        $this.parent().detach();
      }
    })

  })

  function stadiumUpdate(){

    window.util.postAjax("/stadiumUpdateAjax",$("#stadiumViewForm").serialize(),function(data){
      if(data.state){
        swal("成功!", "保存成功", "success");
      }
    })

    return false;
  }


</script>

