
<% if(serviceType == 1){ %>
<label >查看体育培训</label>
<% }else if(serviceType == 2){ %>
<label >查看运动健身指导</label>
<% }else if(serviceType == 3){ %>
<label >查看专业训练</label>
<% } %>

<form class="form-horizontal" id="serviceAddForm" onsubmit="return serviceAdd()">
  <% if(serviceType == 1){ %>
  <div class="form-group">
    <label  class="col-sm-2 control-label">培训名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.name %>" name="service[name]"  placeholder="培训名称">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">培训机构名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.unit %>"  name="service[unit]"  placeholder="培训机构名称">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">培训项目</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.project %>" name="service[project]"  placeholder="培训项目">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">培训类容</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.content %>"  name="service[content]"  placeholder="培训类容">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">是否收费</label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="service[fee]"  value="1">收费
      </label>
      <label class="radio-inline">
        <input type="radio" name="service[fee]" checked="checked"  value="2">免费
      </label>
    </div>
  </div>
  <% }else if(serviceType == 2){ %>
  <div class="form-group">
    <label  class="col-sm-2 control-label">活动名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.name %>" name="service[name]"  placeholder="活动名称">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">培训机构名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.unit %>"  name="service[unit]"  placeholder="培训机构名称">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">培训类容</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.content %>"  name="service[content]"  placeholder="培训类容">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">是否收费</label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="service[fee]"  value="1">收费
      </label>
      <label class="radio-inline">
        <input type="radio" name="service[fee]" checked="checked"  value="2">免费
      </label>
    </div>
  </div>
  <% }else if(serviceType == 3){ %>
  <div class="form-group">
    <label  class="col-sm-2 control-label">运动队(员)名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" required="" value="<%= service.name %>" name="service[name]"  placeholder="运动队(员)名称">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">单位性质</label>
    <div class="col-sm-10">
      <select class="form-control" value="<%= service.nature %>" name="service[nature]">
        <option value="1">省级及以上专业运动对(员)</option>
        <option value="2">职业运动队</option>
        <option value="3">其他专业运动队</option>
      </select>
    </div>
  </div>
  <% } %>

  <div class="form-group">
    <label class="col-sm-2 control-label">起始时间</label>
    <div class="col-sm-4">
      <input type="text"  required="" value="<%= new Date(service.startDate).toLocaleString() %>"  name="service[startDate]" class="form-control mydate">
    </div>
    <label class="col-sm-2 control-label">结束时间</label>
    <div class="col-sm-4">
      <input type="text" required="" value="<%= new Date(service.endDate).toLocaleString() %>"  name="service[endDate]" class="form-control mydate">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">培训联系人</label>
    <div class="col-sm-4">
      <input type="text" value="<%= service.contants %>" name="service[contants]" class="form-control">
    </div>
    <label class="col-sm-2 control-label">联系电话</label>
    <div class="col-sm-4">
      <input type="text"  value="<%= service.contantsPhone %>" name="service[contantsPhone]" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">受训者人数</label>
    <div class="col-sm-10">
      <input type="text" required=""  value="<%= service.number %>" name="service[number]" class="form-control">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="serviceAddBtn" class="btn btn-default">保存</button>
    </div>
  </div>
  <input type="hidden"  value="<%= service.type %>" name="service[type]" >
  <input type="hidden"  value="<%= service.id %>" name="service[id]" >
</form>

<script>

  function serviceAdd(){
    $.ajax({
      type: 'POST',
      url: '/serviceAdd',
      data: $("#serviceAddForm").serialize(),
      success: function(data){
        if(data.state){
          //loadPage("/servicesList");
          swal("成功!", "保存成功", "success");
        }
        else{
          alert("oh my gad 失败了");
        }
      }
    });

    //最终总是返回false,阻止表单自动提交，因为上面的ajax已经提交了
    return false;
  }


  $('.mydate').datetimepicker({
    format: 'yyyy-mm-dd hh:ii',
    language:  'zh-CN',

    autoclose:true
  });

</script>
