.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
  background: url(../images/add.jpg) no-repeat;
  width: 150px;
  height: 82px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  overflow: hidden;
}


.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

