<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>监管系统</title>
	<link href="/css/normalize.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico" />
    <script src="/lib/jquery.js"></script>
    <script src="/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="/lib/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
	<div id="box"></div>
</body>
<script src="/dist/vendors.js"></script>
<script src="/dist/manage.js"></script>
</html>